apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-deployment
spec:
  replicas: 5
  selector:
    matchLabels:
        app: todo
  template:
    metadata:
      labels:
        app: todo
    spec:
      containers:
        - name: todo-container
          image: abhayshrivastava/todo-app:latest
          ports:
            - containerPort: 5000
          env:
            - name: DB_PATH
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: DB_PATH
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: todo-secret
                  key: SECRET_KEY
          volumeMounts:
            - name: storage-volume
              mountPath: /data
      volumes:
        - name: storage-volume
          emptyDir: {}
